body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ccc;
    background-color: #2b2b2b;
    margin: 0;
    padding: 20px;
}
.container {
    display: grid;
    grid-template: auto;
    max-width: 800px;
    margin: auto;
    background-color: #2b2b2b;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}
.header img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border: 3px solid #444;
}
.header h1 {
    margin: 0;
    color: #fff;
}
.header p {
    margin: 5px 0 0;
    color: #aaa;
}
.contact p, .contact a {
    color: #aaa;
    margin: 5px 0;
    text-decoration: none;
}
.contact a:hover {
    color: #fff;
}
.section {
    margin-top: 20px;
}
.section h2 {
    margin-bottom: 10px;
    color: #fff;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}
.section ul {
    list-style-type: none;
    padding: 0;
}
.section ul li {
    margin-bottom: 15px;
    color: #ccc;
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 5px;
}
.section ul li strong {
    color: #f39c12;
}
.section ul li a {
    color: #f39c12;
    text-decoration: none;
}
.section ul li a:hover {
    text-decoration: underline;
}
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #fff200;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    right: 22px;
    top: 20px;
    animation: fadeIn 10s;
  }

  .button-85:before {
    content: "";
    background: linear-gradient(45deg, #83B4FF, #00ffd5, #222, #666, #ccc);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
  }
  
  .button-85:after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .button-85:hover {
    transform: scale(1.05);
    font-weight: bold;
  }

  
  
a:link {
    text-decoration: none;
    background: transparent;
    color: aqua;
    font-size: medium;
  }
  
  a:visited {
    text-decoration: none;
    background: transparent;
    color: aqua;
    font-size: medium;
  }
  
  a:hover {
    text-decoration: none;
    background: transparent;
    color: aqua;
    font-size: medium;
  }
  
  a:active {
    text-decoration: none;
    background: transparent;
    color: aqua;
    font-size: medium;
  }