/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
  overflow: hidden; /* Keep flying image inside the viewport */
}

.header {
  width: 100%;
  background-color: #1f1f1f; /* Darker header */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  position: fixed; /* Fixed at the top */
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navigation {
  display: flex;
}

.navigation a {
  color: #e0e0e0; 
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px; 
  transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
  background-color: #ffb74d;
  color: #121212; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative; 
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.name p {
  font-size: 50px; 
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #e0e0e0; 
  box-sizing: border-box;
  font-weight: bold; 
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.name #text1 {
  border-right: none; 
}

.name #text2 {
  border-right: none; 
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #ff7043;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.button:hover {
  transform: scale(1.1);
  background-color: #ff8a65;
}

.hidden {
  display: none; 
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #e0e0e0; }
}


@media (max-width: 600px) {
  .content {
      width: 100%;
      padding: 10px;
  }

  .name p {
      font-size: 20px;
  }
}
